.drawer-container {
  width: 100%;
  height: 100vh;
  background: #fff;
}

.main-root-container{
  margin-top: -20px;
}

.mat-drawer {
  border-radius: 0;
  width: var(--mat-sidenav-container-width, 320px);
  background: #fff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
  background: #fff;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 65px;
}

.page-name {
  color: #737373;
}

ul.pt-65 {
  padding-top: 65px;
}

.list-group-item {
  display: flex;
  align-items: center;
  gap: .5em;
  border-right: none;
  border-left: none;

  &.active {
    background-color: var(--gray);
    border: none;
  }
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--gray);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.version {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.login-button {
  width: 90%;
  height: 40px;
}

.microsoft {
  width: 25px;
  margin-right: 10px;
}

.splash-logo {
  height: 48px;
}

.title {
  font-family: Josefin Sans, Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-color);
}

